/*Estilos globales*/
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:$color-principal;
}
h1 {
    color:red;
    text-align: center;
}

//textos html
.text1 {
    text-align: center;
    color: white;
    justify-content: center;
}
