/* footer*/
footer{
    .logo-fijo {
        position: fixed;
        bottom: 100px;
        width: 100px;
        right: 20px;
    }
    .botones {
        color: white;
        font-weight: 200px;
        padding: 10px;
        text-decoration: none;
    }
}
